/* Mobile first queries */
/* applies to ALL widths */
html {
  font-family: "Raleway Regular", sans-serif; /* 1 */
    font-weight: 400;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
    height: auto;
    width: auto;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fffcf6;
}

.header {
    padding: 30px 0 20px 0;
    margin-bottom: 25px;
    background-image: url(../imgs/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}
.midterm{
  background-image: url(../imgs/midterm.png);
}
.finals{
 background-image: url(../imgs/final.jpg); 
}
.logo {
    font-weight: 600;
    color: cornsilk;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 10px;
    z-index: 1;
}
.final{
  color: white;
  text-shadow: 3px 3px 30px #000
}
.nav {
  text-align: right;
}
.nav .button {
  width: 48%;
  margin: 2px 0;
}
.button {
  background-color: rgba(255,255,255,.8);
  /*background-color: pink;*/
}
.button:hover {
  background-color: rgba(255,255,255,.6);
}
.action {
  text-align: center;
  padding-top: 37px;
}
.action h1 {
  margin: 0;
}
.action h2 {
  margin: 0 0 20px 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
.row div h2{
  float:left; 
  padding-right: 2%;
}

.linklogo{
    width: 80%;
    height: 80%;
    max-height: 500px;
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

.linklogo2{
    max-height: 150px;
    max-width: 280px;
    display: block;
    margin: 0 auto;
}

/* Larger than mobile */
/* applies to all widths 400px and greater */
@media (min-width: 400px) {
 
}

/* Larger than phablet */
/* applies to all widths 550px and greater */
@media (min-width: 550px) {
  .header {
    padding: 40px 0 50px 0;
  }
  .logo {
    position: static;
    background-color: transparent;
    font-size: 3rem;
    line-height: 1;
  }
  .nav .button {
    width: auto;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
}

/* Larger than tablet */
/* applies to all widths 750px and greater */
@media (min-width: 750px) {
  .logo {
    font-size: 3rem;
    position: relative;
    top: 5px;
  }
}

/* Larger than desktop */
/* applies to all widths 100px and greater */
@media (min-width: 1000px) {
  
}

/* Larger than Desktop HD */
/* applies to 1200px and greater */
@media (min-width: 1200px) {

}
.headtext{
    color: white;
    font-weight: 900;
    text-shadow: 3px 3px 40px #000
}
.infotext{
    font-weight: 500;
}
.info .button {
  background-color:darkslategrey;
  border: none;
  color: white;
}

.info .button:hover {
  color: cadetblue;
  border: none;
}

footer{
    background-color: black;
    color: white;
    margin-top: 30px;
    /*margin: 0px;*/
    position: relative;
    z-index: 2;
}
.indented{
    text-indent: 30px;
}
.image{
    width: 100%;
    height: 100%;
}
.campaign{
    font-size: 1.2em;
}
.centered{
    text-align: center;
}
.about{
    max-width: 200px;
    max-height: 200px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
a{
    cursor: hand;
}
#the-sticky-div.sticky {
     position: fixed;
     top: 0;
  }
a.topic:link{
  text-decoration: none;
  
}
a.topic:visited{
  text-decoration: none;
  
}
.content{
  display: none;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  background: #27AE61 url("../imgs/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.hide{
    cursor: pointer;
}
a{
  text-decoration: none;
}
/*#topicNav{
  position: fixed;
}*/
#topicNav.sticky {
     position: fixed;
     top: 0;
  }
  .stickyContent {
     margin-left: 26%;
  }
/*#content{ 
  margin-left: 28%;
}*/

p1{
    font-family: Consolas;
}

ul.a {
    list-style-type: circle;
}
ul.b {
    list-style-type: square;
}
ul.c {
    list-style-type: disc;
}
#css, #js, #jsSampleCodes{
  display: none;
}

.subtopics{
  list-style-type: none;
}

ul.subtopics li{
  color: #faebd7;
  margin-left: 50px;
}
